*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
	background-color: #e0e0e0 ;
}

.row .col.s8{
	margin-left:160px;
	margin-top: 100px;
}
h4{
	padding: 0;
	margin:0 !important;
	color: red;
}
