{% extends "layout.html"%}
{%block content%}
	<br>
	<div class="container center-align">
	<form id="myform" method="POST" action="{{url_for('result')}}">
		   <h5>Enter the Location</h5>
	  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field  col s8">
     
          <input type="text" id="autocomplete-input" name="location" class="autocomplete">

          <label for="autocomplete-input">Location</label>
          <input class="btn" type="submit" name="">
        </div>
      </div>
    </div>
  </div>
  </form>
  </div>

{% endblock content%}	










